* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header,
main,
footer {
  padding: 20px 30px;
}

header,
footer {
  background-color: #357ba6;
  color: #fff;
}

header .logo,
header .menu,
header ul,
header ul li {
  display: inline-block;
}

header .logo {
  font-size: 30px;
  font-weight: bold;

  margin-right: 40px;
}

header .menu-item {
  margin: 0px 20px;

  font-size: 20px;
  font-weight: 600;
  text-decoration: none;

  color: #fff;
}

.section-title,
strong.blue-text {
  color: #357ba6;
}

.section-title {
  font-size: 38px;
  font-weight: bold;

  margin: 20px 0px;
}

main p {
  margin: 20px 0px;

  font-size: 20px;
}

.contacts li {
  display: inline;
}

.button {
  display: inline-block;
  min-width: 150px;

  padding: 20px;
  margin: 10px 0px;

  border: 1px solid rgb(58, 57, 57);
  border-radius: 10px;

  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

main .get-membership {
  color: #e88132;
  border-color: #e88132;
}

main .social-link {
  box-shadow: 5px 5px 5px rgba(190, 190, 190, 0.5);
  color: #fff;
}

main .instagram {
  background-color: #874bf4;
}

main .facebook {
  background-color: #3578ea;
  margin-left: 20px;
}

main .youtube {
  background-color: #ea3223;
  margin-left: 20px;
}

footer h3 {
  margin-bottom: 20px;
}

footer .feature-list li {
  list-style: none;
}

footer .feature {
  font-weight: bold;
}

footer .gym-list {
  padding-left: 20px;
}

footer li {
  margin-bottom: 5px;
}

footer a {
  text-decoration: none;
  color: #fff;
}
